<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			
			<h4 class="card-title">
					<a class="btn btn-primary btn-xs"
						th:href="@{'/order/form/' + ${customer.id}}"
						th:text="'crear orden'"></a>
				</h4>

				<ul class="list-group">
					<li class="list-group-item" th:text="${customer.nombre}"></li>
					<li class="list-group-item" th:text="${customer.apellido}"></li>
					<li class="list-group-item" th:text="${customer.email}"></li>
					<li class="list-group-item" th:text="${customer.createAt}"></li>
				</ul>
				
				<div th:if="${#lists.isEmpty(customer.orders)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas asignadas para el cliente ' + ${customer.nombre} + ' ' + ${customer.apellido}"></div>

				<table th:if="${not #lists.isEmpty(customer.orders)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>orden</th>
							<th>descripción</th>
							<th>fecha</th>
							<th>total</th>
							<th>ver</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${customer.orders}">
							<td th:text="${factura.id}"></td>
							<td th:text="${factura.deliveryAddress}"></td>
							<td th:text="${factura.createAt}"></td>
							<td th:text="${factura.total}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{'/order/ver/' + ${factura.id}}" th:text="'detalle'"></a></td>
							
						</tr>
					</tbody>

				</table>

				

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>